<my-title title="Usuários / Cadastrar"></my-title>
<hr>

<form [formGroup]="usuarioForm" (submit)="cadastrarUsuarios()">
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" formControlName="nome">
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="idade" class="form-label">Idade</label>
        <input type="number" class="form-control" id="idade" formControlName="idade">
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="usuarioForm.invalid">Cadastrar</button>
</form>
